{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-5 ">
            {% if request.user.is_superuser %}
                <h1 class="fs-1">Добро пожаловать, {{request.user.username}}</h1>
            {% else %}
                <h1>Вы не являетесь администратором</h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-3"><a type="link" href="/view_complaint/" class="btn btn-primary p-5 fs-3">Посмотреть жалобы</a></div>
        <div class="col-3 offset-0"><a type="link" href="/delete_user/" class="btn btn-danger p-5 fs-3">Удалить пользователя</a></div>
    </div>
</div>

{% endblock %}
