<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
    <header>
        <h3 class="header">Меню</h3>
        <a class="header_link" href="/list/">Список всех голосований</a> |
        <a class="header_link" href="/voting/">Голосование</a> |
        <a class="header_link" href="/login/">Авторизация</a>
    </header>
    <h1 class="title">Страница с авторизацией</h1>
    <div>
        <h2 class="subtitle">Авторизация</h2>
        <form>
            <input class="voting-btn" type="text" name="login" id="login" placeholder="SEMEN ANIKIn">
            <input class="voting-btn" type="text" name="password" id="password" placeholder="OralCumshot">
            <input class="submit-button" type="submit">
        </form>
    </div>
</body>
</html>