{% extends 'base.html' %}

{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-4 offset-4 mt-5 fs-2">
            <form class="form" style="margin-top: 10vh;" method="POST" action="">
                {% csrf_token %}
                {% if request.user.is_superuser %}
                    <h2>{{complaint.name}}</h2>
                    <p class="p-2 bg-warning-subtle fs-2 border border-warning rounded-3">Жалоба отправлена на рассмотрение</p>
                    <button type="submit" class="btn btn-danger" name="status" value="2">Отклонить</button>
                    <button type="submit" class="btn btn-success" name="status" value="3">Одобрить</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
