{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col-8 mt-5 mb-5 offset-2">Добро пожаловать на сайт Simple votings!</h1>
  </div>
  <div class="row">
    <h3 class="col-6 offset-3">На этом сайте вы можете принимать участие в опросах и создавать свои опросы. Начните прямо сейчас!</h3>
  </div>
  <div class="row">
    <h3 class="col-1 offset-6 fs-1">↓<div class="row">
  </div></h3>
  </div>
  <div class="row"></div>
    <a href="/registration/" type="button" class="btn btn-dark col-3 ml-2 mt-5 offset-3 fs-3">Регистрация</a>
    <a href="/login/" type="button" class="btn btn-dark col-3 ml-2 mt-5 offset-0 fs-3">Вход</a>
  </div>
</div>
  

{% endblock %}