{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for voting in votings_list %}
        <div class="col-4">
            <div class="card p-2" style="background-image: url('../media/{{voting.image}}'); background-size: cover">
                <h3 class="subtitle text-decoration-none"> <a href="{% url 'voting_details' voting.id %}">{{ voting.name }}</a> </h3>
                <p>Описание: {{ voting.description }}</p>
                <p>Автор: {{ voting.author }}</p>
                {% if voting.author == request.user %}
                    <a class="btn btn-primary" href="/redact/{{ voting.id }}" role="button">Редактировать голосование</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}