{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <form method="post" action="/redact/{{ voting.id }}/" class="col-4 offset-4 mb-3">
            {% csrf_token %}
            <label class="form-label mt-5">Введите параметры голосования</label>
            <input type="text" class="form-control" id="theme" placeholder="Тема голосования" value="{{voting.name}}" name="theme">
            <input type="text" class="form-control" id="description" placeholder="Описание голосования" value="{{voting.description}}" name="description">
            <div id="emailHelp" class="form-text">Вы можете узнать у других пользователей их мнение по любому вопросу.
                Надо всего лишь создать голосование
            </div>
            <button id="add" type="button" class="btn btn-primary d-none">Добавить вариант ответа +</button>
            <div class="container">
                <div class="row">
                    <div class="col offset-0" id="variants"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  {% if voting.voting_type == 2 %}
                    <div class="col d-none" id="bin_variants">
                        <input type="text" class="form-control" id="b_v1" placeholder="Вариант 1">
                        <input type="text" class="form-control" id="b_v2" placeholder="Вариант 2">
                    </div>
                  {% endif %}
                  {% if voting.voting_type == 3 %}
                    <button id="add" type="button" class="btn btn-primary">Добавить вариант ответа +</button>
                    {% for variant in variants %}
                      <input type="text" class="form-control" placeholder="Ответ" value="{{variant.description}}">
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Редактировать</button>
        </form>
    </div>
</div>

<script>
  'use strict'
  let one = false
  let alot = false
  let inputs_arr = []
  let bin_inputs_arr = []
  document.querySelector("#one").addEventListener("click", () => {
    bin_variants.classList.remove("d-none")
    add.classList.add("d-none")
    for (let i = 0; i < inputs_arr.length; ++i){
      document.querySelector("#variants").removeChild(inputs_arr[i])
    }
  })
  document.querySelector("#voting_type").addEventListener("input", () => {
    console.log(document.querySelector("#voting_type").value)
    if (voting_type.value == '3') {
      b_v1.name = "variants"
      b_v2.name = "variants"
      bin_variants.classList.remove("d-none")
      add.classList.add("d-none")
    } else if (voting_type.value == '2'){
      b_v1.name = "variants_bin"
      b_v2.name = "variants_bin"
      add.classList.remove("d-none")
      bin_variants.classList.add("d-none")
    } else {
      b_v1.name = "variants_bin"
      b_v2.name = "variants_bin"
      bin_variants.classList.add("d-none")
      add.classList.add("d-none")
    }
  })
  add.addEventListener('click', () =>{
    let count = 1

    let input = document.createElement("input")
    input.classList.add("form-control")
    input.placeholder = `Ответ`
    input.name = "variants"
    inputs_arr.push(input)
    document.querySelector("#variants").appendChild(input)
    count++
  })
  

</script>


{% endblock %}