{% extends 'base.html' %}

{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-4 offset-4 mt-5 fs-2">
        {% for complaint in complaints %}
                <h2>{{complaint.name}}</h2>
                {% if complaint.status == 1 %}
                    <p class="p-2 bg-warning-subtle fs-2 border border-warning rounded-3">Жалоба отправлена на рассмотрение</p>
                {% endif %}
                {% if complaint.status == 2 %}
                    <p class="p-2 bg-danger-subtle fs-2 border border-danger rounded-3">Жалоба отклонена</p>
                {% endif %}
                {% if complaint.status == 3 %}
                    <p class="p-2 bg-success-subtle fs-2 border border-success rounded-3">Жалоба одобрена</p>
                {% endif %}
                <p class="fs-6">{{complaint.created_at}}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}