<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Голосование</title>
</head>
<body>
    <h1>Страница с голосованием</h1>
    <p>
        <h3>Меню</h3>
        <a href="/list/">Список всех голосований</a> |
        <a href="/voting/">Голосование</a>
    </p>
    <div>
        <h2>Было два стула</h2>
        <form>
            <input type="radio" name="variant" id="firstchoice"><label for="firstchoice">Один</label>
            <input type="radio" name="variant" id="secondchoice"><label for="secondchoice">ДВА</label>
            <input type="submit">
        </form>
    </div>
</body>
</html>